<div style="font-color: green;"><%= notice %></div>

<h1>Welcome#index</h1>

<%= link_to 'Processar SEM background job (demorado)', welcome_without_background_job_path %>
<br>
<br>
<%= link_to 'Processar COM background job', welcome_with_background_job_path %>
